*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:url(image.png);
    background-size:100vw 100vh;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    position:relative;
}

#playArea{
    width:90vmin;
    height:92vmin;

    border:2px solid black;

    background:linear-gradient(skyblue,pink);

    display:grid;
    grid-template-columns:repeat(18,1fr);
    grid-template-rows:repeat(18,1fr);
}

.head{
    background:green;
    border:.25vmin solid black;
}

.snake{
    background:olive;
    border:.25vmin solid black;
}

.food{
    background:red;
    border-radius:50%;
}

#scoreBox{
    position:absolute;
    top:-70px;
    left:0;
    font-size:30px;
    font-weight:bold;
}

#highScoreBox{
    position:absolute;
    top:-35px;
    left:0;
    font-size:30px;
    font-weight:bold;
}